@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 98%;
    --card: 215 25% 27%;
    --card-foreground: 0 0% 98%;
    --muted: 217 19% 27%;
    --muted-foreground: 215 20% 65%;
    --border: 215 28% 17%;
    --radius: 0.5rem;
    font-family: var(--font-quicksand);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-gray-100;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-medium tracking-tight text-white;
  }
}

@layer utilities {
  .font-light {
    font-weight: 300;
  }
  .font-normal {
    font-weight: 400;
  }
  .font-medium {
    font-weight: 500;
  }
  .font-semibold {
    font-weight: 600;
  }
  .font-bold {
    font-weight: 700;
  }
}
